#banner
	.banner_content
		%h1 NoteNote
		%p Your Online Notebook. Never Forget an Idea Again.
		%button= link_to "Sign Up", new_user_registration_path


#testimonial
	.wrapper
		%p.quote "The Greatest notebook application. Period"
		%p.name - Dave Grant


#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Banksy narwhal Portland, ennui paleo polaroid banjo leggings tote bag beard Shoreditch yr. You probably haven't heard of them Godard blogpaleo skateboard, iPhone yr Odd Future semiotics kale chips Williamsburg dreamcatcher direct trade.

			.callout
				%h2 Rocket
				%p Banksy narwhal Portland, ennui paleo polaroid banjo leggings tote bag beard Shoreditch yr. You probably haven't heard of them Godard blog paleo skateboard, iPhone yr Odd Future semiotics kale chips Williamsburg dreamcatcher direct trade.

			.callout
				%h2 Lightning
				%p Banksy narwhal Portland, ennui paleo polaroid banjo leggings tote bag beard Shoreditch yr. You probably haven't heard of them Godard blog paleo skateboard, iPhone yr Odd Future semiotics kale chips Williamsburg dreamcatcher direct trade.


#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up.. If you don't, I will find you!
		%button= link_to "Click Meeee!!!", new_user_registration_path

%footer
	%p &copy; Dave Grant